/* pagina */

body {
    height: 1050px;
}

/* ENCABEZADO */

.cabezera{
    border: 2px solid yellow;
    height: 75px;
    background-color: #FFFDD1;
    display:flex;
    /* justify-content: center; */
    align-items: center;
}

.div{
    height: 73px;
    background-color: #FFFDD1;
    display:flex;
    /* justify-content: center; */
    align-items: center;
}

.inputEncabezado{
    margin-left: 50px;
    width: 350px;
    height: 28px;
}

.aEncabezado{
    font-size:25px;
    margin-left: 50px;
}

.botonEncabezado{
    width: 100px;
    height: 50px;
    margin-left: 75px;
}

.b{
    width: 100px;
    height: 100px;
}

.c{
    width: 50px;
    height: 50px;
}

.lupa{
    position: relative;
    height: 40px;
    width: 40px;
    left: 50px;
}
/* FIN DE ENCABEZADO */

/* MENU */
.menu{
    border: 2px solid black;
    background-color: rgb(201, 191, 191);
    height: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* FIN DEL MENU */

/* CARRUSEL */

.divCarrusel {
    margin-top: 20px;
}

.D{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

/* FIN CARRUSEL */


/* FINAL */

.h2{
    text-align: center;
}

.divFinal1{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 100px;
    
}

.divFinal1:hover {
    background-color: #F89B4D;
}


.divFinal2{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 350px;
}

.divFinal2:hover {
    background-color: #F89B4D;
}


.divFinal3{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 600px;
}

.divFinal3:hover {
    background-color: #F89B4D;
}


.divFinal4{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 850px;
}

.divFinal4:hover {
    background-color: #F89B4D;
}


.divFinal5{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 1100px;
}

.divFinal5:hover {
    background-color: #F89B4D;
}

.divFinal6{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 825px;
    top: 800px;

}

.divFinal6:hover {
    background-color: #F89B4D;
}

.divFinal7{
    position: absolute;
    text-align: center;
    border: 2px solid black;
    width: 135px;
    font-size: 20px;
    margin-left: 425px;
    top: 800px;
}

.divFinal7:hover {
    background-color: #F89B4D;
}

.chat{
    position: absolute;
    text-align: center;
    width: 135px;
    font-size: 20px;
    margin-left: 1150px;
    top: 970px;
}

.float{
    position: absolute;
    text-align: center;
    width: 135px;
    font-size: 20px;
    margin-left: 1150px;
    top: 900px;
}